@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Shrikhand', cursive;
}

p {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: auto;
}

.button__link-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button__link-container a {
  text-decoration: none;
  color: black;
}

.step {
  height: auto;
  width: 90%;
  background-color: #f6f6f6;
  border-radius: 30px;
  padding: 40px 0px 40px 0px;
  margin-left: 5%;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1), inset 2px 10px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1), inset 2px 10px 20px rgba(255, 255, 255, 0.5);
}

.step__number {
  position: absolute;
  top: 40px;
  left: -15px;
  background-color: #9356DC;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: white;
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step__icon {
  position: absolute;
  top: 40px;
  left: 10%;
}

.step__icon i {
  font-size: 120%;
  color: #7E7E7E;
  vertical-align: middle;
}

.step:hover {
  background-color: #F5EDFF;
  -webkit-box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.15), inset 2px 10px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.15), inset 2px 10px 20px rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.step:hover i {
  color: #9356DC;
}

.step:active {
  background-color: #F5EDFF;
  -webkit-box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.15), inset 2px 10px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.15), inset 2px 10px 20px rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.step:active i {
  color: #9356DC;
}

.card {
  width: 90%;
  height: 370px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}

.card:hover {
  -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card:active {
  -webkit-filter: opacity(20%);
          filter: opacity(20%);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.card a {
  text-decoration: none;
  color: black;
}

.card__img {
  width: 100%;
  height: 70%;
  border-radius: 17px 17px 0px 0px;
  overflow: hidden;
  position: relative;
}

.card__img img {
  width: 100%;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -90px;
     object-position: 0px -90px;
}

.card__img__sticker {
  background-color: #d5d5d5;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  font-size: 120%;
  color: #717171;
  position: absolute;
  top: 8%;
  right: 5%;
}

.card__body {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__body__text {
  width: auto;
  font-size: 140%;
  line-height: 50%;
  padding-left: 20px;
  padding-top: 10px;
}

.card__body__text h2 {
  font-family: Roboto;
  font-weight: 450;
  font-size: 120%;
}

.card__body__text p {
  font-weight: 300;
}

.card__body__icon {
  padding: 35px 35px 0px 0px;
  font-weight: 100;
  color: white;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.6);
}

.card__body__icon i {
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.card__body__icon i:hover {
  color: #9356DC;
  -webkit-text-stroke: 2px #9356DC;
}

.plat {
  height: 70px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.14);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.14);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plat__text {
  height: 100%;
  min-width: 65%;
  text-overflow: ellipsis;
}

.plat__text h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 10px 0px 0px 10px;
}

.plat__text p {
  font-weight: 200;
  margin: 0;
  padding: 5px 0px 0px 10px;
}

.plat__price {
  font-weight: 450;
  padding: 40px 25px 0px 10px;
}

header {
  width: 100%;
  max-width: 768px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16);
}

header .retour {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .retour i {
  vertical-align: middle;
  font-size: 190%;
}

header .retour a {
  text-decoration: none;
  color: black;
}

header .logo {
  width: 80%;
  height: auto;
  padding: 20px 0px 10px 0px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header .logo__img {
  height: auto;
  width: auto;
  margin: auto;
  display: inline-block;
}

header .logo img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  width: 100%;
  max-width: 768px;
  height: 320px;
  margin: auto;
  margin-top: -30px;
  background-color: #3A3A3A;
  color: whitesmoke;
}

footer h2 {
  font-weight: 100;
  font-size: 180%;
  letter-spacing: 1px;
  padding: 30px 0px 0px 30px;
}

footer .footer {
  width: 90%;
  font-size: 150%;
  line-height: 180%;
  padding: 0px 0px 0px 30px;
}

footer .footer__item {
  position: relative;
}

footer .footer__item a {
  text-decoration: none;
  color: whitesmoke;
}

footer .footer__item__icon {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 80%;
}

footer .footer__item:nth-child(1) {
  padding-left: 35px;
}

footer .footer__item:nth-child(2) {
  padding-left: 35px;
}

.localisation {
  height: auto;
  width: 100%;
  background-color: #EAEAEA;
  font-size: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.localisation__area {
  height: auto;
  width: 200px;
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resa {
  height: 470px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  background-color: #f6f6f6;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resa__title {
  width: 60%;
}

.resa__title h1 {
  font-family: Roboto;
  font-size: 220%;
  font-weight: 550;
}

.resa__body {
  width: 80%;
  font-size: 180%;
  font-weight: 350;
  color: gray;
}

.resa__button {
  height: 75px;
  width: 325px;
  background-color: #b389e7;
  color: white;
  font-size: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 12% 50%;
  border-bottom-left-radius: 12% 50%;
  border-top-right-radius: 12% 50%;
  border-bottom-right-radius: 12% 50%;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), inset 2px 10px 20px rgba(255, 255, 255, 0.5), inset -2px -3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), inset 2px 10px 20px rgba(255, 255, 255, 0.5), inset -2px -3px 20px rgba(0, 0, 0, 0.2);
}

.resa__button:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), inset 2px 10px 20px rgba(255, 255, 255, 0.65), inset -2px -3px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), inset 2px 10px 20px rgba(255, 255, 255, 0.65), inset -2px -3px 20px rgba(0, 0, 0, 0.35);
}

.fonctionnement {
  height: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement__title {
  width: 90%;
  padding-top: 40px;
}

.fonctionnement__title h1 {
  font-family: Roboto;
  font-size: 220%;
  font-weight: 550;
}

.fonctionnement__boxstep {
  height: 450px;
  width: 95%;
  font-size: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resto {
  height: 1820px;
  width: 100%;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resto__title {
  width: 90%;
  padding-top: 40px;
}

.resto__title h1 {
  font-family: Roboto;
  font-size: 220%;
  font-weight: 550;
}

.resto__boxcards {
  height: 1600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-img {
  width: 100%;
  height: 15%;
  overflow: hidden;
}

.menu-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -10px;
     object-position: 0px -10px;
}

.menu {
  width: 100%;
  /* à adapter */
  height: 1500px;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0% 0%;
  margin-top: -50px;
  position: relative;
}

.menu__title {
  padding: 10px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__title h1 {
  font-size: 180%;
  font-weight: 100;
}

.menu__title__icon {
  padding: 30px 30px 0px 0px;
  font-size: 70%;
  color: #f6f6f6;
  -webkit-text-stroke: 1px black;
}

.menu__title__icon i {
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.menu__title__icon i:hover {
  color: #9356DC;
  -webkit-text-stroke: 1px #9356DC;
}

.menu__epd {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 17px;
}

.menu__epd h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  font-weight: 300;
  margin: 0px 0px 4px 0px;
}

.menu__epd__underline {
  width: 45px;
  border-top: 3px solid #99E2D0;
}

.menu .container-plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: colomn;
          flex-direction: colomn;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 30px 15px;
}

.menu .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .order .resa__button {
  height: 50px;
  width: 200px;
  font-size: 100%;
}
/*# sourceMappingURL=main.css.map */