.card
{
    width: 90%;
    height: 370px;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.16);

    &:hover
    {
        box-shadow: 1px 5px 10px rgba(0,0,0,0.2);
        transform: scale(1.02);
    }

    &:active
    {
        filter: opacity(20%);
        transform: scale(1.04);
    }

    & a
    {
        text-decoration: none;
        color: black;
    }

    &__img
    {
        width: 100%;
        height: 70%;
        border-radius: 17px 17px 0px 0px;
        overflow: hidden;

        position: relative;

        & img
        {
            width: 100%;
            min-height : 350px;
            object-fit:cover;
            object-position: 0px -90px;
        }

        &__sticker
        {
            background-color: #d5d5d5;
            padding:10px 15px 10px 15px;
            border-radius: 5px;

            font-size: 120%;
            color: #717171;

            position: absolute;
                top:8%;
                right: 5%;
        }        
    }

    &__body
    {
        width: 100%;
        height: 30%;
        
        display: flex;
        justify-content: space-between;

        &__text
        {
            width : auto;
            font-size: 140%;
            line-height: 50%;
            padding-left: 20px;
            padding-top: 10px;

            & h2
            {
                font-family: Roboto;
                font-weight: 450;
                font-size: 120%;
            }

            & p
            {
                font-weight: 300;
            }
        }

        &__icon
        {
            padding: 35px 35px 0px 0px;
            font-weight: 100;
            color: white;

            -webkit-text-stroke: 2px rgba(0,0,0,0.6);

            & i
            {
                transition: all 0.3s linear 0s;
                &:hover
                {
                    color: $color-primary;
                    -webkit-text-stroke: 2px $color-primary;
                }
            }
        }
    }

}

.plat
{
    height: 70px;
    width: 100%;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.14);

    display: flex;
    justify-content: space-between;

    &__text
    {
        height: 100%;
        min-width: 65%;
        
        text-overflow: ellipsis;

        & h3
        {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            margin: 0;
            padding: 10px 0px 0px 10px;
        }

        & p
        {
            font-weight: 200;     
            margin: 0;
            padding: 5px 0px 0px 10px;  
        }

    }

    &__price
    {
        font-weight: 450;
        padding: 40px 25px 0px 10px;
    }

}